<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog throwExceptions="true" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="consoleLogger" xsi:type="Console" layout="${level} ${message}"></target>
      <target name="fileLogger" xsi:type="File" layout="${longdate} ${callsite} ${level} ${message}" fileName="InvestmentBuilder.log"></target>
      <!--${logger}.txt-->
      <target name="viewLogger" xsi:type="MethodCall" className="InvestmentBuilderClient.View.MainView, InvestmentBuilderClient" methodName="LogMethod">
        <parameter layout="${level}"/>
        <parameter layout="${message}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="consoleLogger"></logger>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="fileLogger"></logger>
      <logger name="*" minlevel="Debug" maxlevel="Error" writeTo="viewLogger"></logger>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
