
@{
    ViewBag.Title = "CashFlow";
}

<ul class="nav nav-tabs nav-justified">
    <li><a href="@Url.Action("index")">Portfolio</a></li>
    <li><a href="@Url.Action("CashFlow")">CashFlow</a></li>
    <li><a href="@Url.Action("Performance")">Performance</a></li>
</ul>


<div class="panel panel-default"> 
    <div class="panel-heading">
        <div class="container">
            <div class="row">
                <h4>Receipts</h4>
                <a class="btn btn-default pull-right">Add Receipt</a>
            </div>
        </div>
                </div>
    <table class="table table-condensed">
        <tr>
           <td>Product A</td>
           <td>200</td>
        </tr>
        <tr>
           <td>Product B</td>
           <td>400</td>
        </tr>
    </table>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Payments</div>
    <table class="table table-condensed">
        <tr>
           <td>Product A</td>
           <td>200</td></tr>
        <tr>
           <td>Product B</td>
           <td>400</td>
        </tr>
    </table>
</div>


