@model InvestmentBuilderWeb.Models.AccountModelDto

<h2>@ViewBag.Title</h2>

<div class="editor">

    <form name="investmentAccountForm" role="form" action="ProcessInvestmentAccount" method="post" onsubmit="javascript: submitInvestmentAccount()">
        <div class="form-group">
            <label>Account Name</label>
            <input class="form-control" name="AccountName" placeholder="name of account"/>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input class="form-control" name="AccountDescription" placeholder="description of account" />
        </div>

        <div class="form-group">
            <label for="accountCurrency">Reporting Currency</label>
            <select name="ReportingCurrency">
                @foreach (var item in (IEnumerable<SelectListItem>)ViewBag.Currencies)
                {
                    <option>@item.Value</option>
                }
            </select>            
        </div>

        <div class="form-group">
            <label>Account Type</label>
            <div class="checkbox-inline">
                @if(Model.AccountType == "Club")
                { 
                    <small>Club</small><input type="radio" name="AccountType" checked="checked" value="Club" onclick="javascript:selectClubAccountType()"/>
                    <small>Personal</small><input type="radio" name="AccountType" value="Personal" onclick="javascript:selectPersonalAccountType()" />
                    
                }
                else
                {
                    <small>Club</small><input type="radio" name="AccountType" value="Club" onclick="javascript:selectClubAccountType()" />
                    <small>Personal</small><input type="radio" name="AccountType" checked="checked" value="Personal" onclick="javascript:selectPersonalAccountType()" />
                }
            </div>
        </div>

        <ul id="memberList">
            @foreach (var item in Model.Members)
            {
                <li>
                    <div class="memberEntry">
                        <input id="memberID" value="@item.MemberID"/>
                        @Html.DropDownList("AuthorisationType", null, new { id= "authLevel" })
                        <div class="btn btn-sm removeEntry">Del</div>
                    </div>
                </li>
            }
        </ul>

        <input type="hidden" name="SerialisedMembers"/>
        
        <div class="form-group">
            <div id="addMemberSlot" onclick="javascript: addMemberSlot()" class="btn btn-sm">Add Member</div>
        </div> 

        <div class="form-group">
            <div class="btn">Cancel</div>
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>