@model InvestmentBuilderWeb.Models.ReportsModel
@{
    ViewBag.Title = "Performance";
}

<div class="container">
    @Html.Partial("AccountSummary")
    <div class="row">
        <ul>
            @foreach (var dt in Model.RecentReports)
            {
                <li>
                    @Html.ActionLink(dt, "LoadReport", new { ValuationDate = dt }, new { target = "_blank" })
                </li>
            }
        </ul>
    </div>
</div>
