<blockquote>
    <p>
        Enter the email you have registered with and an email will be sent to
        you with a link to change your password. 
    </p>
</blockquote>

<form name="ForgottonPasswordForm" role="form">
    <div class="form-group">
        <label>Email Address</label>
        <input class="form-control" ng-model="EMailAddress" name="EMailAddress" placeholder="email address" />
    </div>

    <div>
        <input type="button" value="Request Password" ng-click="forgottenPassword()" />
    </div>
</form>