@model InvestmentBuilderWeb.Models.GreetingModel

@{
    ViewBag.Title = "GreetingsView";
}

<h2>GreetingsView</h2>

<hgroup class="title">
    <h2>@Model.Greeting</h2>
    <h3>@Model.Name</h3>
</hgroup>