<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotton Password</title>
    <link rel="stylesheet" href="styles/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="styles/jquery-ui.structure.css" type="text/css">
    <link rel="stylesheet" href="styles/jquery-ui.theme.css" type="text/css">
    <link rel="stylesheet" href="styles/bootstrap.css" type="text/css">
    <link rel="stylesheet" href="styles/investmentBuilder.css" type="text/css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="Index.html">Investment Builder</a>
            </div>
        </div>
    </div>
    <!--<div class="container body-content">-->
    <div class="container body-content layoutTop">
        <div ng-app="InvestmentBuilderRegister">
            <div class="editor" ng-controller="RegisterUser">
                <blockquote>
                    <p>
                        Enter the email you have registered with and a new password
                        will be sent to you. You will be asked to change your password
                        after the first login.
                    </p>
                </blockquote>

                <form name="ForgottonPasswordForm" role="form">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input class="form-control" ng-model="EMailAddress" name="EMailAddress" placeholder="email address" />
                    </div>

                    <div>
                        <input type="button" value="Request Password" ng-click="requestPassword()" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/registerlibs.js"></script>
    <script type="text/javascript" src="js/register.js"></script>
</body>
</html>
