@model InvestmentBuilderWeb.Models.AccountModelDto

<div>
    <div class="form-group">
        <label>Members</label>
        <ul id="memberList">
            @foreach (var item in Model.Members)
            {
                <li>
                    <div class="memberEntry">
                        <input id="memberID" value="@item.MemberID" />
                        <select id="authLevel">
                            @foreach (var elem in (IEnumerable<SelectListItem>)ViewBag.AuthorisationType)
                            {
                                if (item.AuthorisationType == elem.Value)
                                {
                                    <option selected="selected">@elem.Text</option>
                                }
                                else
                                {
                                    <option>@elem.Text</option>
                                }
                            }
                        </select>
                        <div class="btn btn-sm removeEntry">Del</div>
                    </div>
                </li>
            }
        </ul>
    </div>

    <input type="hidden" name="SerialisedMembers" />

    <div class="form-group">
        <div id="addMemberSlot" onclick="javascript: addMemberSlot()" class="btn btn-sm">Add Member</div>
    </div>
</div>
