
<div class="container">
    <div ng-controller="CashFlowController as cashFlow" id="cashflowContainer">
        <div ng-show="cashFlow.isBuilding == true" class="showProgress" ng-cloak>
            <h4><em>Building Report. please wait...</em></h4>
            <h5 ng-bind="cashFlow.section"></h5>
            <uib-progressbar animate="false" value="cashFlow.progressCount" type="success"><b>{{cashFlow.progressCount}}%</b></uib-progressbar>
        </div>
        <div ng-class="{hideCashFlow : cashFlow.isBuilding == true, showCashFlow : cashFlow.isBuilding == false}" ng-cloak>
            <div ng-repeat="cashFlowItem in cashFlows" class="row cashFlowBlock">
                <div class="panel panel-default investmentSummary">
                    <div class="cashItemType">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <a class="navbar-brand">Receipts</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><p class="navbar-text">Valuation Date: {{cashFlowItem.ValuationDate}}</p> </li>
                                <li><p class="navbar-text">Total: {{cashFlowItem.ReceiptsTotal}}</p></li>
                                <li>
                                    <div ng-show="$index == 0" ng-click="cashFlow.addReceipt()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Receipt</div>
                                </li>
                            </ul>
                        </div>

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Parameter</th>
                                    <th>Subscription</th>
                                    <th>Sale</th>
                                    <th>Dividend</th>
                                    <th>Other Receipts</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="receipt in cashFlowItem.Receipts" ng-class="{
                                        active: receipt.IsTotal == true,
                                        cashTotal: receipt.IsTotal == true
                                    }">
                                    <td>
                                        <p>{{receipt.TransactionDate}}</p>
                                    </td>
                                    <td>
                                        <p>{{receipt.Parameter}}</p>
                                    </td>
                                    <td>
                                        <p>{{receipt.Subscription}}</p>
                                    </td>
                                    <td>
                                        <p>{{receipt.Sale}}</p>
                                    </td>
                                    <td>
                                        <p>{{receipt.Dividend}}</p>
                                    </td>
                                    <td>
                                        <p>{{receipt.Other}}</p>
                                    </td>
                                    <td ng-if="receipt.IsTotal == false">
                                        <ul class="nav nav-tabs">
                                            <li><a href="#" ng-show="cashFlowItem.CanEdit == true" ng-click="cashFlow.deleteReceipt($index)" class="btn btn-sm">Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="panel panel-default investmentSummary">
                    <div class="cashItemType">
                        <div class="navbar navbar-default">
                            <div class="navbar-header">
                                <a class="navbar-brand">Payments</a>
                            </div>
                            <ul class="nav navbar-nav navbar-right">
                                <li><p class="navbar-text">Valuation Date: {{cashFlowItem.ValuationDate}}</p> </li>
                                <li><p class="navbar-text">Total: {{cashFlowItem.PaymentsTotal}}</p></li>
                                <li>
                                    <div ng-show="$index == 0" ng-click="cashFlow.addPayment()" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add Payment</div>
                                </li>
                            </ul>
                        </div>

                        <table class="table table-condensed">
                            <thead>
                                <tr>
                                    <th>Transaction Date</th>
                                    <th>Parameter</th>
                                    <th>Withdrawls</th>
                                    <th>Purchases</th>
                                    <th>Other Payments</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="payment in cashFlowItem.Payments" ng-class="{
                                        active: payment.IsTotal == true,
                                        cashTotal: payment.IsTotal == true
                                    }">
                                    <td>
                                        <p>{{payment.TransactionDate}}</p>
                                    </td>
                                    <td>
                                        <p>{{payment.Parameter}}</p>
                                    </td>
                                    <td>
                                        <p>{{payment.Withdrawls}}</p>
                                    </td>
                                    <td>
                                        <p>{{payment.Purchases}}</p>
                                    </td>
                                    <td>
                                        <p>{{payment.Other}}</p>
                                    </td>
                                    <td ng-if="payment.IsTotal == false">
                                        <ul class="nav nav-tabs">
                                            <li><a href="#" ng-show="cashFlowItem.CanEdit == true" ng-click="cashFlow.deletePayment($index)" class="btn btn-sm">Delete</a></li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label>Cash Flow From</label>
                    <div class="input-group">
                        <input type="text" name="transactionDate" uib-datepicker-popup="{{cashFlow.format}}" ng-model="cashFlow.cashFlowFromDate" is-open="cashFlow.datepicker.opened" datepicker-options="cashFlow.dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="cashFlow.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </div>
                    <input type="button" ng-click="cashFlow.reloadContents()" value="go" />
                </div>
            </div>
        </div>
    </div>
</div>
