<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Undo Last Transaction</h3>
</div>
<div class="modal-body" id="modal-body">
        <h4>Investment<small class="lastTransaction">{{Name}}</small></h4>
        <h4>Type<small class="lastTransaction">{{TransactionType}}</small></h4>
        <h4>Quantity<small class="lastTransaction">{{Quantity}}</small></h4>
        <h4>Amount<small class="lastTransaction">{{Amount}}</small></h4>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" ng-disabled="!Success">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>

