<div ng-controller="LayoutController">
    <div ng-hide="IsBusy">
        <div ng-show="!LoggedIn" class="loginBox" ng-cloak>
            <form ng-submit="doLogin()">
                <h3 class="headerLarge">Login</h3>
                <br />
                <div class="form-group">
                    <label>User Name</label>
                    <input name="username" type="text" class="form-control" ng-model="UserName" />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input name="password" type="password" class="form-control" ng-model="Password" />
                </div>

                <div class="form-group">
                    <input type="checkbox" ng-model="SaveCredentials" />
                    <label>Save Credentials</label>
                </div>

                <div ng-show="LoginFailed">
                    <p class="text-danger">Invalid Username or Password!</p>
                </div>

                <br/>
                <div>
                    <a href="RegisterUser.html">Register New User</a>
                </div>
                <div>
                    <a href="ForgottenPassword.html">Forgotten Password</a>
                </div>

                <button class="btn btn-primary pull-right" type="submit">submit</button>
            </form>
        </div>
        <div ng-show="LoggedIn" ng-cloak>
            <div ng-show="IsBuilding" class="showProgress" ng-cloak>
                <h4><em>Building Report. please wait...</em></h4>
                <h5 ng-bind="Section"></h5>
                <uib-progressbar animate="false" value="ProgressCount" type="success"><b>{{ProgressCount}}%</b></uib-progressbar>
            </div>

            <div ng-show="!IsBuilding" ng-cloak>
                <div class="summaryContainer">
                    <div class="summaryChild">
                        <div class="summaryDisplay">
                            <div><strong>Reporting Currency</strong></div>
                            <div>{{ReportingCurrency}}</div>
                        </div>
                        <div class="summaryDisplay">
                            <div><strong>Valuation Date</strong></div>
                            <div>{{ValuationDate}}</div>
                        </div>
                        <div class="summaryDisplay">
                            <div><strong>Value Per Unit</strong></div>
                            <div>{{ValuePerUnit}}</div>
                        </div>
                        <div class="summaryDisplay">
                            <div><strong>Net Assets</strong></div>
                            <div>{{NetAssets}}</div>
                        </div>
                        <div class="summaryDisplay">
                            <div><strong>Bank Balance</strong></div>
                            <div>{{BankBalance}}</div>
                        </div>
                        <div class="summaryDisplay">
                            <div><strong>Month PnL</strong></div>
                            <div>{{MonthlyPnL}}</div>
                        </div>
                        <div ng-click="buildReport()" ng-disabled="!CanBuild" class="btn btn-primary summaryButton">Build Report</div>
                    </div>
                </div>

                <uib-tabset active="active" justified="true">
                    <uib-tab index="0" select="onPortfolio()" heading="Portfolio">
                        @[views/Portfolio.html]
                    </uib-tab>
                    <uib-tab index="1" select="onAddInvestment()" heading="Add Investment">
                        @[views/AddInvestment.html]
                    </uib-tab>
                    <uib-tab index="2" select="onCashFlow()" heading="Cash Flow">
                        @[views/CashFlow.html]
                    </uib-tab>
                    <uib-tab index="3" select="onReports()" heading="Reports">
                        @[views/Reports.html]
                    </uib-tab>
                    <uib-tab index="4" select="onRedemptions()" heading="Redemptions">
                        @[views/Redemptions.html]
                    </uib-tab>

                </uib-tabset>
                <!--</div>-->
                <footer>
                    <p>&copy; InvestmentBuilder</p>
                </footer>
            </div>
        </div>
    </div>
    <div ng-show="IsBusy" class="loader">
    </div>
</div>
